.html-module-div {
	height: 30px;
	margin-top:6px;
	font-weight: bold; font-size : 18px;
	text-align: center;
	color: olive;
	font-size: 18px;
}

.html-module-div:HOVER {
	background: #ff8080;
}

.html-module-div-checked {
	height: 30px;
	background: #ff8080;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}