<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wodog.it.dao.BmsUserMapper">

	<select id="selectAllByPage" parameterType="map" resultMap="BaseResultMap">
		select * from bms_user limit #{param1},#{param2}
	</select>





	<resultMap id="BaseResultMap" type="com.wodog.it.model.BmsUser">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="effect_date" property="effectDate" jdbcType="TIMESTAMP" />
		<result column="expired_date" property="expiredDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, username, password, nickname, create_date, effect_date,
		expired_date
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.wodog.it.model.BmsUserExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from bms_user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from bms_user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		bms_user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.wodog.it.model.BmsUserExample">
		delete from bms_user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.wodog.it.model.BmsUser">
		insert into bms_user (id,
		username, password,
		nickname, create_date, effect_date,
		expired_date)
		values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{nickname,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP}, #{effectDate,jdbcType=TIMESTAMP},
		#{expiredDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.wodog.it.model.BmsUser">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="BEFORE">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into bms_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="nickname != null">
				nickname,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="effectDate != null">
				effect_date,
			</if>
			<if test="expiredDate != null">
				expired_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id,jdbcType=INTEGER},
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				#{nickname,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="effectDate != null">
				#{effectDate,jdbcType=TIMESTAMP},
			</if>
			<if test="expiredDate != null">
				#{expiredDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.wodog.it.model.BmsUserExample"
		resultType="java.lang.Integer">
		select count(*) from bms_user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update bms_user
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.username != null">
				username = #{record.username,jdbcType=VARCHAR},
			</if>
			<if test="record.password != null">
				password = #{record.password,jdbcType=VARCHAR},
			</if>
			<if test="record.nickname != null">
				nickname = #{record.nickname,jdbcType=VARCHAR},
			</if>
			<if test="record.createDate != null">
				create_date = #{record.createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.effectDate != null">
				effect_date = #{record.effectDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.expiredDate != null">
				expired_date = #{record.expiredDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update bms_user
		set id = #{record.id,jdbcType=INTEGER},
		username =
		#{record.username,jdbcType=VARCHAR},
		password =
		#{record.password,jdbcType=VARCHAR},
		nickname =
		#{record.nickname,jdbcType=VARCHAR},
		create_date =
		#{record.createDate,jdbcType=TIMESTAMP},
		effect_date =
		#{record.effectDate,jdbcType=TIMESTAMP},
		expired_date =
		#{record.expiredDate,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.wodog.it.model.BmsUser">
		update bms_user
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				nickname = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="effectDate != null">
				effect_date = #{effectDate,jdbcType=TIMESTAMP},
			</if>
			<if test="expiredDate != null">
				expired_date = #{expiredDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wodog.it.model.BmsUser">
		update bms_user
		set username = #{username,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR},
		nickname = #{nickname,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		effect_date =
		#{effectDate,jdbcType=TIMESTAMP},
		expired_date =
		#{expiredDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>